<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="${pageContext.request.contextPath}/index">
                Home
            </a>
        </div>
    </div>
    <div class="navbar-end">
        <c:choose>
            <c:when test="${login == 'true'}">
                <div class="navbar-item">
                    <a class="button is-primary is-outlined" href="${pageContext.request.contextPath}/logout">
                        Logout
                    </a>
                </div>
            </c:when>
            <c:otherwise>
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="${pageContext.request.contextPath}/registration">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-primary is-outlined" href="${pageContext.request.contextPath}/login">
                            Log in
                        </a>
                    </div>
                </div>
            </c:otherwise>
        </c:choose>
    </div>
</nav>
<h1>Welcome to our store!</h1>

<a href="${pageContext.request.contextPath}/servlet/getAllUsers">Users</a>
<a href="${pageContext.request.contextPath}/servlet/getAllItems">START SHOPPING</a>

</body>
</html>
